<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card>
          <form [formGroup]="updaterForm" (ngSubmit)="onSubmit()">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <app-input
                    label="Name"
                    placeholder="Enter Name"
                    type="text"
                    [control]="name"
                  ></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input
                    label="LastName"
                    placeholder="Enter LastName"
                    type="text"
                    [control]="lastName"
                  ></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-button
                    fill="solid"
                    label="Update"
                    type="submit"
                    [disabled]="false"
                  ></app-button>
                </ion-col>
                <ion-col>
                  <app-button
                    fill="outline"
                    label="Home"
                    (click)="goToHome()"
                  ></app-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
