<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card>
          <form [formGroup]="updaterForm" (ngSubmit)="onSubmit()">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <app-input
                    label="{{'updater.inputnamelabel' | translate}}"
                    placeholder="{{'updater.inputnameplaceholder' | translate}}"
                    type="text"
                    [control]="name"
                  ></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input
                    label="{{'updater.inputlastnamelabel' | translate}}"
                    placeholder="{{'updater.inputlastnameplaceholder' | translate}}"
                    type="text"
                    [control]="lastName"
                  ></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-toggle
                    [options]="languageOptions"
                    [selectedValue]="selectedLanguage"
                    (selectionChange)="handleLanguageChange($event)"
                  >
                  </app-toggle>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-button
                    fill="solid"
                    label="{{'updater.updatebutton' | translate}}"
                    type="submit"
                    [disabled]="false"
                  ></app-button>
                </ion-col>
                <ion-col>
                  <app-button
                    fill="outline"
                    label="{{'updater.returnbutton' | translate}}" 
                    (click)="goToHome()"
                  ></app-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
