<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <div>
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input label = "user" placeholder="Enter User" type="text" ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input label = "password" placeholder="enter password" type="password"></app-input> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-toggle></app-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
