<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <div class = "register_form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input label = "user" placeholder="Enter User" type="text" [control]="user"></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input label = "password" placeholder="enter password" type="password" [control]="password"></app-input> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button fill="solid" label="Sign In" type="submit" [disabled]="loginForm.invalid" ></app-button>
            </ion-col>
            <ion-col>
              <app-button fill="outline" label="Sign Up" (click)="goToRegister()"></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
